<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Results</h1>
            </div>
            <h2>{{ results }}</h2>

            <form class="" action="/" method="get">
                <button class="btn btn-primary" type="submit" name="button">Back</button>
            </form>
        </div>
    </body>
</html>
